@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.grid-container{
    display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  padding: 5px;
  margin-left: 20%;
}
.grid-item {
    padding: 10px;
    width: 50%;
    text-align: center;
    margin-left: 20%;
  }
